<table>
 <tr>
   <a href="https://login.microsoftonline.com/ec65aa5c-a2a3-454d-af61-09c1eb07eb85/oauth2/authorize?client_id=1543cb57-bbf9-4046-8d64-f49d582390f4&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fdata%2F&resource=1543cb57-bbf9-4046-8d64-f49d582390f4&response_mode=fragment&nonce=678910&state=12345" target="_blank" rel="noopener noreferrer">
     prueba2</a>
   <!-- <td><button (click)="login()">SIGN IN</button></td>
   <td><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td> -->
 </tr>
</table>
<!-- <div *ngIf="isLoggedIn()">
 <h3>You are logged in</h3>
</div>
<div *ngIf="!isLoggedIn()">
 <h3>You are NOT logged in</h3>
</div>
<div *ngIf="isLoggedIn()">
 <table>
   <tr>
     <td><span>Welcome {{getName()}}!</span></td>
   </tr>
   <tr>
     <td><span><button (click)="callProfile()">GET PROFILE</button></span></td>
   </tr>
   <tr>
     <td><span><button (click)="callEmails()">GET EMAILS</button></span></td>
   </tr>
   <tr>
     <td><span><button (click)="sayHello()">SAY HELLO</button></span></td>
   </tr>
   <tr>
     <td><span *ngIf="isLoggedIn()">API Response: {{apiResponse}}</span></td>
   </tr>
 </table>
</div> -->

